@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete @Model.Name Department</h1>
<div asp-validation-summary="All"> </div>
<form asp-action="Delete">

<p>Are you sure you want to delete this employee?</p>

<form asp-action="Delete">
    <div class="form-group">
        <label class="col-form-label" asp-for="Id"></label>
        <input readonly class="form-control" asp-for="Id" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input readonly class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input readonly class="form-control" asp-for="Email" />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input readonly class="form-control" asp-for="DateOfCreation" />
    </div>
    
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</form>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
<a asp-action="Index" class="btn btn-light">BackToList</a>
</form>
